[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
rtyaml = "*"
scrapelib = "==0.10.1"
ipython = "*"
lxml = ">=2.2"
cssselect = "*"
pyflakes = "*"
pytz = "*"
tweepy = "*"
sparqlwrapper = "*"
feedsearch = "*"
feedfinder2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
