# email:
#   # smtp details
#   hostname:
#   port:
#   user_name:
#   password:
#   starttls:
#   # email defaults
#   subject: "[unitedstates/congress-legislators] Notice"
#   from:
#   from_name: "unitedstates"
#   to: